.secondary-navigation {
    background-color: lightgrey;
    height: 300px;
    width:100%;
    min-width: 960px;
    border: 3px solid white;
}

.secondary-navigation-container {
 
}

.secondary-navigation-title {
    padding: 30px 10%;
    float: left;
}

.secondary-navigation-ul {
    width: 200px;
}

.secondary-navigation-ul ul {
    display: inline-block;
    padding: 30px;
    
}

.secondary-navigation-ul ul li{
   text-decoration: underline;
    padding: 20px;
}


.container-banner-image {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    padding: 0px;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
    width: 960px;  
}

.content-wrap-02 {
    margin-right: auto;
    margin-left: auto;
    width: 0%;
    height: 150px;
    padding-top: 20px;
}

