.container-banner-image {
    margin-right: auto;
    margin-left: auto;
    width: 1380px;
    padding: 0px;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
    width: 960px;  
}

.content-wrap-02 {
    margin-right: auto;
    margin-left: auto;
    width: 0%;  
}


