.secondary-navigation {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background-color: lightgrey;
    color: black;
    height: 150px;
}


.secondary-navigation-title {
    padding: 0px 50px;
}

.secondary-navigation-ul {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 30px;
}

.secondary-navigation-ul a {
    text-decoration: underline;
    color: black;
}

.secondary-navigation-ul a:link {
    color: black;
}



.container-banner-image {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    padding: 0px;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
    width: 960px;  
}

.content-wrap-02 {
    margin-right: auto;
    margin-left: auto;
    width: 0%;
    height: 150px;
    padding-top: 20px;
}

