/*about*/

@media screen and (max-width: 600px) {
    
.header {

min-width: 450px;

}

.secondary-navigation {
    display: grid;
    grid-template-columns:1fr;
    background-color: lightgrey;
    color: black;
    height: auto;
}

.secondary-navigation-title {
    padding: 0px 20px;
}
    
.container-banner-image img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 0px;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    padding: 20px;
}
    
.container-banner-image {
    width: auto;
    padding: 0px;
}
    
/*.container-banner-image img {
        width: 500px;
}*/
    
}