@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+HK:500&display=swap');

body {
    font-family: 'Noto Sans HK' ,arial, helvetica, sans-serif;
}


.header {
    width: 100%;
    background-color: #000000;
    height: 70px;
    top: 0px;
    /*position: sticky;*/
    min-width: 960px;
}

nav {
    color: white;
}

.header a:visited {
    text-decoration: none;
    color: white;
}

.header a:link {
    text-decoration: none;
    color: white;
}

.header-left {
    float: left;
    padding: 20px;
}

.header-left-img {
    display:inline;
    float: left;
    padding: 10px;
    padding-top: 5px;
}

.header-left-img:hover {
    opacity: .5;
}

.header-left ul{
     display: inline-block;
}

.header-left li {
    display: inline-block;
}

.header-right {
    float:right;
    padding: 20px;
}

.header-right li {
    
    display: inline-block;
    padding-right: 60px;
}

.header li:hover {
    text-decoration: underline;
    opacity: .7;
}

/*typography*/

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}


h2,h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}


.content p {
    line-height: 18px;
    margin-bottom: 10px;
    font-size: 15px;
}


/*typography end*/



.white-space-footer {
    height: 200px;
}

footer {
    width: 100%;
    background-color: #000000;
    color: #EFF1F1;
    position: fixed;
    bottom: 0px;
    margin-top: 20px;
    height: 50px;
    font-size: 12px;
}

.footer-wrap {
    padding:20px;
}